.header__link {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    transition: opacity 0.5s linear;
    margin-right: 30px;
}

.header__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}